.qr {
	width: 50rem;
	height: 50rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qr-border {
	width: 45rem;
	height: 45rem;
	border-bottom: 10rem solid #000;
	border-right: 2rem solid #000;
	border-top: 2rem solid #000;
	border-left: 2rem solid #000;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qr-text {
	width: 100%;
	position: absolute;
	top: 93%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	z-index: 100;
}
